.img-magnifier-container {
  position: relative;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
}

.main-image {
  aspect-ratio: auto;
  width: 100%;
}

.magnified-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  pointer-events: "none";
}

@media (max-width: 800px) {
  .magnified-image {
    display: none;
  }
}
