@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  width: calc(50% - 10px);
  margin: 5px;
  min-height: 70vh;
  border: solid 2px black;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeIn 1.5s ease-in-out;
}

.card h1 {
  width: 100%;
  margin: 5px;
}

.card p {
  direction: rtl;
  font-size: 1.5rem;
  width: 100%;
  height: 40%;
  padding: 0 3px;
  margin: 0;
  justify-self: start;
  overflow: hidden;
}

.card img {
  border-radius: 1rem;
  width: 90%;
}

.more-info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  width: 150px;
  padding: 5px;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: solid 1px white;
}

@media (max-width: 800px) {
  .card {
    flex-wrap: nowrap;
    width: auto;
    min-height: 50vh;
  }

  .card h1 {
    font-size: 1rem;
  }

  .card p {
    font-size: 1rem;
  }

  .more-info-btn {
    height: 25px;
    width: 100;
  }
}
